{% extends "estore/base.html" %}
{% load staticfiles %}

{% block title %} Welcome to Eternal Ganges Bangalore! {% endblock %}

{% block maincontent %}



    <section id="about-us">
        <div class="container">
			<!-- About EG -->
			<div class="row">
				<div class="col-sm-6">
				<h2>Our Mentor, Dr Daisaku Ikeda</h2>
					<img src="http://assets.daisakuikeda.org/assets/templates/diweb/images/daisaku_small.jpg" style="padding:5px;"</img>
					<p>
Daisaku Ikeda is a Buddhist leader, peacebuilder, a prolific writer, poet, educator and founder of a number of cultural, educational and peace research institutions around the world.

As third president of the Soka Gakkai (value-creating society) and founder of the Soka Gakkai International, Daisaku Ikeda has developed and inspired what may be the largest, most diverse international lay Buddhist association in the world today. Based on the 700-year-old tradition of Nichiren Buddhism, the movement is characterized by its emphasis on individual empowerment and social engagement to advance peace, culture and education.
					<a href="http://daisakuikeda.org"> Read more on website</a>
					</p>
				</div> <!-- col-->

				<div class="col-sm-6">
				<h2>About Eternal Ganges Press Pvt Ltd</h2>
					<p>

				Eternal Ganges Pvt Ltd is the parent of EG Bangalore, established in 1991. 
Aimed at transforming lives, the books and periodicals deal with common concerns like health, relationships, children, family and the dilemmas facing youth. EG also publishes books and dialogues that focus on the life philosophy of Nichiren Daishonin. Based on the belief that an empowered individual will be spurred to action, the content of each publication creates hope and motivates people to tap into the wisdom, compassion and courage they inherently possess.
In the 24 years since its inception, the organisation has steadily grown to into a thriving publishing house with 22 partners across various cities in India. Driven by the desire to make reading of the highest calibre available to as many as possible, Eternal Ganges’ publications combine quality and affordability so that none are excluded from the pleasure of reading.

					<a href="http://eternalganges.com"> Read more on website</a>
					</p>
				</div> <!-- col-->
			</div> <!-- row -->

			<!-- about eg -->

			<!-- our-team -->
			<div class="team">
				<div class="center wow fadeInDown">
					<h2>Our Vision</h2>
					<p class="lead">

We would like to work towards giving you the best of service and hoping to keep up with the expectations of all our members. We would like to take this opportunity to deeply thank all the members for their daimoku and senior leaders for their constant support and encouragement.

						<h3> Email: eg-bangalore@endezinephi.com </h3>
					</p>
				</div>

				<div class="row clearfix">
					<div class="col-md-4 col-sm-6">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="images/man1.jpg" alt=""></a>
								</div>
								<div class="media-body">
									<h4>Pradeep</h4>
									<h5>Co-Owner</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">Interior Design</a></li>
										<li class="btn"><a href="#">Business</a></li>
									</ul>
									
									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
									</ul>
								</div>
							</div><!--/.media -->
							<p>Says thank you!</p>
						</div>
					</div><!--/.col-lg-4 -->
					
					
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="images/man2.jpg" alt=""></a>
								</div>
								<div class="media-body">
									<h4>Namitaa Pradeep</h4>
									<h5>Co-owner</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">Painter</a></li>
										<li class="btn"><a href="#">Teacher</a></li>
									</ul>
									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
									</ul>
								</div>
							</div><!--/.media -->
							<p>Says thank you!</p>
						</div>
					</div><!--/.col-lg-4 -->					
				</div> <!--/.row -->
				<div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div> <!--skill_border-->       

			</div><!--section-->
		</div><!--/.container-->
    </section><!--/about-us-->


{% endblock %}
