{% extends "estore/base.html" %}
{% load staticfiles %}

{% block title %} Welcome to Eternal Ganges Bangalore! {% endblock %}

{% block maincontent %}


<section style="background:#000;">
<div class="container">
	<div class="row">

	{% for event in events%}
		<div class="col-sm-6 col-md-4">

		<div style="visibility: visible; animation-name: fadeInDown;" class="media services-wrap wow fadeInDown animated">
			<div class="pull-left">
				<img style="height:81px;" class="img-responsive" src="{{event.image_url}}">
			</div>
			<div class="media-body">
				<h3 class="media-heading">{{event.title}}</h3>
				<p>Date: {{event.event_date}} </p>
				<p>{{event.detail}}</p>
				<a href="/estore/event/{{event.id}}/">More</a>
			</div>
		</div>
		</div > <!-- col -->
		
		{%endfor%}
	</div><!--/.row-->
</div> <!-- /.container-->

</section>
{% endblock %}
