{% extends "estore/base.html" %}
{% load staticfiles %}

{% block title %} Welcome to Eternal Ganges Bangalore! {% endblock %}

{% block maincontent %}
    <section id="contact-info">
        <div class="center">                
            <h2>How to Reach Us?</h2>
            <p class="lead">We're not far from the Bangalore Culture Center!</p>
        </div>
        <div class="gmap-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 text-center">
                        <div class="gmap">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.3280536590964!2d77.58144515036308!3d12.886614720179596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1548677f1ff5%3A0x027606275670b337!2s1st+Main+Rd%2C+Dr.+Vivekananda+Layout%2C+Santrupthi+Nagar%2C+Sankranthi+Layout%2C+Bengaluru%2C+Karnataka+560078!5e0!3m2!1sen!2sin!4v1444760590622" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-sm-5 map-content">
                        <ul class="row">
                            <li class="col-sm-6">
                                <address>
                                    <h5>Store</h5>
                                    <p>No 16, 1st Main Santhrupthi Nagar <br>
                                    JP Nagar 7th Phase, Bangalore 56007878</p>
                                    <p>Phone: 9845515243 - Pradeep, 9845423109 - Namitaa <br>
                                         Email: contactus@endezinephi.com</p>
                                </address>

                            </li>



                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>  <!--/gmap_area -->



{% endblock %}
