<!-- javascript attributes in main.js file to control the carousel -->
	<div id="offers-carousel-slider" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators visible-xs">
			<li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-slider" data-slide-to="1"></li>
			<li data-target="#carousel-slider" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner">
			<div class="item active">
				<div class="container">
				<div class="row ">
						<div class="col-sm-6">
							<img src="/static/estore/images/smiling_buddhas.jpg" class="img-responsive" alt=""> 
						</div>
						<div class="col-sm-6">
							<div class="wow center" style="padding-top:10px">
								<h2> Share the joy of reading books!!</h2>
								<p class="lead" > Visit us now!!! </p>
							</div>
						</div> <!-- col -->
				</div> <!-- row -->
				</div> <!-- class="container" -->
		   </div>
		   <div class="item">
						<div class="get-started center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
							<h2>Pickup books from your own Area!</h2>
							<p class="lead">You can now pickup books from your nearby locations!</p>
							<div class="request">
								<h4><a href="#">More about Pickup locations</a></h4>
							</div>
						</div> <!-- getting started -->

		   </div> 
		   <div class="item">
						<div class="get-started center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">
							<h2>Exciting Offers</h2>
							<p class="lead">Special discount on NHR</p>
							<div class="request">
								<h4><a href="#">Find out more</a></h4>
							</div>
						</div> <!-- getting started -->
		   </div> 

		</div>
		
		<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
			<i class="fa fa-angle-left"></i> 
		</a>
		
		<a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
			<i class="fa fa-angle-right"></i> 
		</a>
	</div> <!--/#carousel-slider-->
